#newCourseFld {
    float: right;
}

.wbdv-newCourseBtn {
    color: red;
    background-color: white;
    border-radius: 50%;
}

body {
    background-color: #F0F0F0;
}

#courseTable {
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: gainsboro;
}

.wbdv-courseGrid {
    padding: 15px 15px;
}

.wbdv-courseGridItem {

    border-bottom: 1px solid;
    line-height: 50px;
    border-color: gainsboro;

}

.wbdv-courseGridItem:last-child {
    border-bottom: 0px;
}

.wbdv-courseGridHearder {
    text-align: center;
    border-bottom: 1px solid #E8E8E8;
    line-height: 50px;

}

.wbdv-courseTitleBar {
    text-align: center;
    color: white;
    height: 55px !important;
    line-height: 400%;
    margin: 0px 0px 0px 0px;
}

.createNewModuleBtn{
    color : #FFFFFF;
}

.wbdv-module-list-box {
    margin-top: 20px;
}

.list-group-item{
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #E8E8E8;
}

.wbdv-moduleListSideBar{
    padding: 0px 0px 0px 0px;
}